
<div class="row">
<div class="bio-flex-container">
<div class="col-sm-4 disappear slide-up">
	<img ng-src="https://s3.amazonaws.com/wdonahoeart/bio.jpg" style="width:100%;" class="wide">
</div>
<div class="col-sm-8 slide-up">
<p>
                            As an artist, I work primarily in graphite, charcoal, and colored pencil on paper.
                        I earned my bachelor of fine arts degree in 1978 from the University of Delaware,
                        from which I also received the Trevania Robinson Art Prize... as a drawing major.
                        Drawing has been a lifelong passion and remains my chosen vehicle for artistic
                        expression.
                        </p>
                        <p>
                            I grew up in Newark, Delaware, in a planned community of cookie-cutter houses
                        called "Brookside".  As a child I began to draw from the Jones Family album of old
                        sepia toned photographs as a means to get to know my father, who had died before
                        my first birthday.  Living in Newark afforded me the opportunity to attend the University
                        of Delaware where I received top-notch instruction from many notable artists. 
                        Realist artist, Steve Tanis, introduced me to a "continuous tone" method of drawing
                        which I have used ever since, and developed as my signature style.
                        </p>
                        <p>
                            In 1980 I moved to Northern Virginia to pursue a masters degree at George
                        Washington University.  Unfortunately the realities of the high cost of graduate school,
                        and living on my own, would only allow for one year.  While there however, I received
                        invaluable instruction from Scip Barnhart, who at the time used stone lithography to
                        create prints that appeared to be finely detailed pencil drawings.  In a class taught by
                        renowned artist, William Woodward, I learned how the Old Masters used transparent
                        glazes in oil paintings, the concept which I've applied in the layering of colored pencil.
                        </p>
                        <p>
                            I decided to stay in the DC area, but as I struggled to make a living, it
                        became necessary to relegate art as a sideline; it would remain as such
                        until after my marriage and the birth of my children.  I rejoined The Art
                        League in the late 1990's and have regularly had my work selected by
                        jury to monthly shows in the Torpedo Factory Art Center.  Along with my
                        husband Will, and children, Wallace and Avery, I reside in Alexandria, VA
                        and in Gerrardstown, WV where we recently completed construction on an
                        eco dwelling and studio <a href="http://www.broomgrass.com">www.broomgrass.com.</a>
                        </p>
                        <p>
                           I was honored to be a selected artist for an exhibition that examined
                        current trends in drawing, "Between The Lines: Contemporary Drawing
                        Now".  Held at the Torpedo Factory's Target Gallery, the juror, DC based
                        artist, Linn Meyer, presented some very insightful thoughts on the subject.
                        "Drawing has long been understood to be a preparatory medium.  Drawing
                        today, however, is a medium unto itself and must go well beyond the thin
                        idea of a work made in preparation for artwork that is much larger or more
                        important.  A finished drawing must be fully realized both formally and
                        conceptually.  Artists are using drawing as a primary mode of expression in
                        the 21st century".
                        </p>
</div>
</div>
</div>