<div class="row">
<div class="bio-flex-container">
<div class="col-sm-4 disappear slide-up" style="position:relative;">
    <img ng-src="https://s3.amazonaws.com/wdonahoeart/Stone-Faced.jpg" class="wide">
</div>
<div class="col-sm-8 slide-up">
<p>
    <strong>Born</strong><br>
    Wendy Ann Jones, 1956, Wilmington, Delaware
</p>
<p>
    <strong>Education</strong><br>
            University of Delaware, BFA in Drawing, 1978<br>             
            George Washington University, Graduate work, 1980 - 81<br>
</p>
<p>
    <strong>Selected Exhibitions and Awards &#x2013; 2006 through 2015</strong><br>
</p>
<p>
    <strong>The Art League Gallery</strong><br>
    Eleanor Boudreau Jordan Award. <i>Daydreams</i>. James Farrah, Juror<br>
    <a href="http://www.theartleague.org/blog/2012/12/13/qa-with-award-winner-wendy-donahoe/">The Marker Award. <i>Nicholas</i>. Linda Brinker Hafer, Juror</a><br>
    The Shayna Heisman Simkin Award.  <i>Olivia</i>. Lenny Campello, Juror<br>
    Larry Kirsten Award.  <i>Thirteen</i>. Catriona Fraser, Juror<br>
    Jane McElvany Coonce Award.  <i>High Clouds Over Broomgrass</i>. Judy Jashinsky, Juror<br>
    Gilham Award.  <i>Firstborn</i>. Daniel Finch, Juror<br>
    Bob Hof Award. <i>A Pear of Hands</i>. Dena Muller, Juror<br>
    Eleanor Boudreau Jordan Award.  <i>Stone Faced</i>. Walter Kravitz, Juror<br>
    Honorable Mentions:  <i>Island Fairy, Distant Cousins, May 57, Surf and Turf, Poster Child, Second Chair, Avery in Her Second Summer</i><br>
    </p>
    <p>
    <strong>Patron Show Awards</strong><br>
    Marian Van Landingham Award: <i>Deer Isle Cottage, Avery at the Window, It's My Party, Avery at Twelve In 1465</i><br>
    Charles E. Beatley, Jr. Popular Vote Award: <i>Avery at the Window, From the Tower, It's My Party, Bag Lunch</i><br>
    Halt, Buzas, & Powell Popular Vote Award. <i>Deer Isle Cottage</i><br>                       
    The Daniel & Julie Clemente Prize. <i>It's My Party</i><br>
    </p>
    <p>
    <strong>Maryland Federation of Art Circle Gallery</strong><br>
    Art On Paper &#x2013; A National Juried Exhibition<br>
    Juror's Choice Award.  <i>Olivia</i>. Susan Badder, Juror<br>
    Juror's Choice Award.  <i>Firstborn</i>.  Joann Moser, Juror<br>
    Honorable Mention.  <i>Thirteen</i>.  Johanna Halford-Macleod, Juror<br>
    Selected for Exhibition: <i>Island Fairy, Plate 122,  Tween Angel, Dried Summer Bloom</i><br>
     </p>
<p>
     <strong>Fraser Gallery</strong><br>
     <a href="http://ww2.gazette.net/stories/08182010/entemon104804_32536.php">Summer 2010 Group Show. Bethesda, MD</a><br> 
</p>
<p>
    <strong>The Affordable Art Fair</strong><br>
    Fall 2010 Exhibitors, Fraser Gallery. New York, NY
</p>
<p>
    <strong>Art Renewal Center</strong><br>
    International 2014 / 2015 ARC Salon Finalist: <i>Leap Day, Aves</i><br>
    International 2013 / 2014 ARC Salon Honorable Mention. <i>Avery at the Window</i><br>
    International 2013 / 2014 ARC Salon Finalist. <i>Island Fairy</i><br>
    International 2012 / 2013 ARC Salon Finalist. <i>Nicholas</i><br>
    International 2010 / 2011 ARC Salon Finalist. <i>Thirteen, Olivia</i><br>
</p>
<p>
    <strong>Gail Piazza Gallery</strong><br>
    Just Pears Invitational Exhibition. <i>A Pear of Hands</i>
</p>
<p>
    <strong>The Target Gallery</strong><br>
    Between The Lines: Contemporary Drawing Now. <i>Thirteen</i>. Linn Meyers, Juror<br>
</p>
<p>
    <strong>Drawing Magazine Shades Of Gray National Competition</strong><br>
    Honorable Mention. <i>Olivia</i>. Spring Issue 2013
</p>
<p>
    <strong>Drawings by Wendy Donahoe & Paul Glenshaw</strong><br>April 2014 - June 2014. Covington & Burling LLP Atrium Gallery. Washington, DC
</p>


</div>
</div>
</div>