<div class="row">
    <div class="col-sm-6 col-sm-offset-4 slide-up">
        <h2>CV</h2>
    </div>
</div>
<div class="row">
<div class="bio-flex-container">
<div class="col-sm-4 disappear slide-up">
    <img ng-src="https://s3.amazonaws.com/wdonahoeart/bio.jpg" class="wide">
</div>
<div class="col-sm-8 slide-up">
<p>
    <strong>BORN</strong><br>  Wendy Ann Jones, 1956, Wilmington, Delaware
</p>
<p>
    <strong>EDUCATION</strong><br>
            University of Delaware, BFA in Drawing, 1978<br>             
            George Washington University, Graduate work, 1980 - 81<br>
</p>
<p>
    <strong>SELECTED EXHIBITIONS AND AWARDS - 2006 through 2015</strong><br>
</p>
<p>
    <strong>THE ART LEAGUE GALLERY</strong><br>
    <strong>Eleanor Boudreau Jordan Award</strong>, DAYDREAMS, James Farrah, Juror<br>
    <strong>The Marker Award</strong>,  NICHOLAS, Linda Brinker Hafer, Juror<br>
    <a href="http://www.theartleague.org/blog/2012/12/13/qa-with-award-winner-wendy-donahoe/">http://www.theartleague.org/blog/2012/12/13/qa-with-award-winner-wendy-donahoe/</a><br>
    <strong>The Shayna Heisman Simkin Award</strong>,  OLIVIA, Lenny Campello, Juror<br>
    <strong>Larry Kirsten Award</strong>,  THIRTEEN, Catriona Fraser, Juror<br>
    <strong>Jane McElvany Coonce Award</strong>,  HIGH CLOUDS OVER BROOMGRASS, Judy Jashinsky, Juror<br>
    <strong>Gilham Award</strong>,  FIRSTBORN, Daniel Finch, Juror<br>
    <strong>Bob Hof Award</strong>,  A PEAR OF HANDS, Dena Muller, Juror<br>
    <strong>Eleanor Boudreau Jordan Award</strong>,  STONE FACED, Walter Kravitz, Juror<br>
    <strong>Honorable Mention Awards</strong>:  ISLAND FAIRY, DISTANT COUSINS, MAY 57, SURF AND TURF, POSTER CHILD, SECOND CHAIR, AVERY IN HER SECOND SUMMER<br>
    </p>
    <p>
    <strong>PATRON SHOW AWARDS</strong><br>
    <strong>Marian Van Landingham Award:</strong> DEER ISLE COTTAGE,  AVERY AT THE WINDOW,<br>IT'S MY PARTY,  AVERY AT TWELVE IN 1465<br>
    <strong>Charles E. Beatley, Jr. Popular Vote Award:</strong>  AVERY AT THE WINDOW,  FROM THE TOWER,<br>  IT'S MY PARTY,  BAG LUNCH<br>
    <strong>Halt, Buzas, & Powell Popular Vote Award:</strong> DEER ISLE COTTAGE<br>                       
    <strong>The Daniel & Julie Clemente Prize</strong>,  IT' MY PARTY<br>
    <strong>website:</strong> <a href="http://www.theartleague.org/">http://www.theartleague.org/</a>
    </p>
    <p>
        <strong>MARYLAND FEDERATION OF ART CIRCLE GALLERY</strong><br>
        <strong>ART ON PAPER, A National Juried Exhibition</strong><br>
        <strong>Juror's Choice Award</strong>,  OLIVIA, Susan Badder, Juror<br>
        <strong>Juror's Choice Award</strong>,  FIRSTBORN,  Joann Moser, Juror<br>
        <strong>Honorable Mention Award</strong>,  THIRTEEN,  Johanna Halford-Macleod, Juror<br>
        <strong>Selected for Exhibition:</strong> ISLAND FAIRY, PLATE 122,  TWEEN ANGEL, DRIED SUMMER BLOOM<br>
        <strong>website</strong>: <a href="http://www.mdfedart.org">www.mdfedart.org</a>
     </p>
<p>
     <strong>FRASER GALLERY</strong> 2010 Summer Group Show, Bethesda, MD.<br> <a href="http://ww2.gazette.net/stories/08182010/entemon104804_32536.php">http://ww2.gazette.net/stories/08182010/entemon104804_32536.php</a>
</p>
<p>
    <strong>THE AFFORDABLE ART FAIR</strong>, New York City, Fall 2010 Exhibitors, Fraser Gallery
</p>
<p>
    <strong>ART RENEWAL CENTER</strong><br>
    <strong>International 2014/2015 ARC Salon Finalist</strong>, Drawing: LEAP DAY, AVERY<br>
    <strong>International 2013/2014 ARC Salon Honorable Mention</strong>, Drawing: AVERY AT THE WINDOW<br>
    <strong>International 2013/2014 ARC Salon Finalist</strong>, Drawing: ISLAND FAIRY<br>
    <a href="http://www.artrenewal.org/pages/contest.php?contest=2013-2014%20Salon&page=HonorableMention#Drawing">http://www.artrenewal.org/pages/contest.php?contest=2013-2014%20Salon&page=HonorableMention#Drawing</a><br>
    <strong>International 2012 / 2013 ARC Salon Finalist</strong>, Drawing, NICHOLAS<br>
    <strong>International 2010 / 2011 ARC Salon Finalist</strong>, Drawing: THIRTEEN, OLIVIA<br>
</p>
<p>
    <strong>GAIL PIAZZA GALLERY</strong><br>
    <strong>Just Pears Invitational Exhibition</strong>,  A PEAR OF HANDS
</p>
<p>
    <strong>THE TARGET GALLERY</strong><br>
    <strong>Between The Lines: Contemporary Drawing Now</strong>, THIRTEEN, Linn Meyers, Juror<br>
</p>
<p>
    <strong>DRAWING MAGAZINE</strong>
    <strong>Shades Of Gray National Competition</strong><br> Honorable Mention, OLIVIA, Spring Issue 2013
</p>
<p>
    <strong>DRAWINGS</strong> by Wendy Donahoe & Paul Glenshaw<br> April 2014 - June 2014, Covington & Burling LLP, Atrium Gallery, Washington, DC
</p>


</div>
</div>
</div>