<div ng-controller="LoginCtrl" class="login jumbotron center-block">
	<h2>Login</h2>
	<form role="form">
		<div class="form-group">
			<label for="email">Email</label>
			<input ng-model="user.email" class="form-control" id="email" placeholder="Email" type="text">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input ng-model="user.password" class="form-control" id="password" placeholder="Password" type="password">
		</div>
		<button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
	</form>
	<a ui-sref="home()">Go Home</a>
	<button ng-click="app.logout()" ng-show="app.isAuthed()">logout</button>
</div>