@import "../bootstrap/variables.less";

// import custom bootstrap variables

@import "../bootstrap/bootstrap.less";

// import custom bootstrap styles

@import "variables.less";

@import "mixins.less";

@media only screen
and (min-device-width: 992px) {
	#radio-buttons {
		position:relative;
		left:20px;
	}

	#upload-form {
		position: relative;
		left:10px;
	}
}

.gallery-img {
	left:100%;
	display: block;
	margin: 0 auto;
	position: sticky;
	left: 0;
}


@media only screen
and (max-width: 667px){
	.gallery-img {
		height: auto;
		width: 275px;
		border:5px solid blue;
	}
}

@media only screen 
and (min-width: 668px) 
and (max-width: 1500px) {

  	.gallery-img {
  		height: auto;
  		width: 350px;
  		border:5px solid red;
  	}

}

@media only screen 
and (min-width: 1501px) 
and (max-width: 2200px) {

  	.gallery-img {
  		height: auto;
  		width: 500px;
  		border:5px solid green;
  	}

}

@media only screen 
and (min-width: 2201px) 
and (max-width: 3840px) {

  	.gallery-img {
  		height: auto;
  		width: 650px;
  		border:5px solid black;
  	}

}


#gallery-upload {
	position:relative;
	left:-17px;
}

.fadez {
	animation-name: myFade;
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(.02,.74,.9,.96);
	animation-fill-mode: forwards;
}

.spinner {
	position: absolute;
	z-index:1;
	top: 40%;
	left: 90%;
}




@-webkit-keyframes myFade {.opacity-mixin;}
@-moz-keyframes myFade {.opacity-mixin;}
@-ms-keyframes myFade {.opacity-mixin;}
@-o-keyframes myFade {.opacity-mixin;}
@keyframes myFade {.opacity-mixin;}


