@import "../bootstrap/variables.less";

// import custom bootstrap variables

@import "../bootstrap/bootstrap.less";

// import custom bootstrap styles

@border-radius-base: 3px;
@border-radius-large: 3px;
@border-radius-small: 3px;