@import "../bootstrap/variables.less";

// import custom bootstrap variables

@import "../bootstrap/bootstrap.less";

// import custom bootstrap styles

@import "variables.less";

@import "mixins.less";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }

.dropdown:hover .dropdown-menu {
    display: block;
}

.slide-down {
	animation-name: slideDown, fadeInImage;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;

}

.slide-up {
	animation-name: slideUp, fadeInImage;
	animation-duration: 1.2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;

}

.bigger {
	font-size: 1.3em;
}

a, a:active, a:focus, a:hover{
	text-decoration: none;
	color:inherit;
}

p {
	color:#282828;
}

@media only screen
and (min-device-width: 992px) {
	#radio-buttons {
		position:relative;
		left:20px;
	}

	#upload-form {
		position: relative;
		left:10px;
	}
}

.scroll-pane {
	width: 200px;
	height: 700px;
	overflow: hidden;
	outline: none;
}

.pa-sidebar {
	padding:9px;
}

.side-header {
	text-align: center;
}

.nav-list {
	padding: 15px 15px;
}

.edit-list {
	list-style-type: none;
	list-style-position: outside;
	text-decoration: none;
	padding:2px;
}

.edit-list li {
	padding-bottom:5px;
	cursor: pointer
}

.edit-list .dndDraggingSource, .hidden {
	display: none;
}

.hide-scroll {
	visibility: hidden;
}

.edit-list .dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 20px;
}

.scroll-pane img {
	height: auto;
	width: 170px;
	margin:0em 0.5em;
	margin-bottom: 5px;
	cursor: pointer;
	z-index: 2;
	opacity: 0.75;

	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.scroll-pane img:hover {
	opacity: 1.0
}

.jspDrag:hover {
	background-color: darken(@jsp-drag-color, 10%);
}

.jspDrag.jspActive {
	background-color: darken(@jsp-drag-color, 10%);
}

.jspDrag {
	-webkit-transition: top 1s ease-out;
	-moz-transition: top 1s ease-out;
	transition: top 1s ease-out;

	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	transition: background-color .15s ease-in-out;
}

.tall {
	width: 53%;
	height:100%;
	z-index: 2;
}

.wide {
	width: 85%;
	height:100%;
	max-height: 1000px;
	z-index: 2;
}

.black {
	background-color: black;
}


.img-info {
	margin-top: 20px;
	padding-bottom: 20px;
	-webkit-box-flex: 2 100%;
	-moz-box-flex: 2 100%;
	-webkit-flex: 2 100%;
	-ms-flex: 2 100%;
	flex: 2 100%;
	text-align: center;
}

.gallery-flex-container {
	padding: 0;
	margin: 0;
	width:100%;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.welcome-flex-container {

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	height: 100%;

}

.preview-flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.bio-flex-container {
	padding: 0;
	margin: 0;
	width:100%;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: right;
}

.bio-flex-container img {
	width: 85%;
	max-height: 1000px;
}

#welcome-name {
	color:white;
	font-size: 1.9em;
	-webkit-box-flex: 1 50%;
	-moz-box-flex: 1 50%;
	-webkit-flex: 1 50%;
	-ms-flex: 1 50%;
	flex: 1 50%;
}

#welcome-img {
	-webkit-box-flex: 1 50%;
	-moz-box-flex: 1 50%;
	-webkit-flex: 1 50%;
	-ms-flex: 1 50%;
	flex: 1 50%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

#welcome-img div {
	height:700px;
	width:550px;
	background-color: black;
}

#welcome-img img {
	height: 100%;
	width: 100%;
}

.contact-container {
	margin:10px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.contact-container img {
	width: 250px;
	height: 250px;
}

@media only screen and (max-width: 1200px){
	.disappear, .bio-flex-container img {
		display: none;
	}
	.scroll-pane-container{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: row;
		-webkit-box-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-wrap:wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.tall, .wide {
		width: 90%;
		height: auto;
	}
	.scroll-pane {
		width:70%;
		display: table;
		overflow: auto;
	}
	.scroll-pane img {
		opacity: 1;
		width:100%;
		margin-bottom: 25px;
	}
	.jspHorizontalBar, .jspTrack,
	.jspHorizontalBar, .jspDrag,
	.jspArrow {
		display: none;
	}
}

@media only screen and (max-width: 1309px){
	#welcome-img {
		-webkit-flex: 2 100%;
		-moz-box-flex: 2 100%;
		-webkit-flex: 2 100%;
		-ms-flex: 2 100%;
		flex: 2 100%;
	}
	#welcome-name{
		-webkit-box-flex: 1 100%;
		-moz-box-flex: 1 100%;
		-webkit-flex: 1 100%;
		-ms-flex: 1 100%;
		flex: 1 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 551px){
	#welcome-img div {
		height:500px;
		width:393px;
	}
	#welcome-name {
		font-size: 1.4em;
	}
	.scroll-pane-container { 
		margin-left: 0px;
	}
}

@media only screen and (max-width: 375px){
	#welcome-img div {
		height:335px;
		width:263px;
	}
	#welcome-name {
		font-size: 1.2em;
	}
}

.bodyTransition {
	animation-name: fadeFromBlack;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

.fadez {
	animation-name: fadeOutForm;
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(.02,.74,.9,.96);
	animation-fill-mode: forwards;
}

.fadeIn {
	animation-name: fadeInImage;
	animation-duration: 0.45s;
	animation-fill-mode: forwards;
}

.fadeInSlow {
	animation-name: fadeInImage;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.spinner {
	position: absolute;
	z-index:1;
	top: 40%;
	left: 90%;
}

.upload-preview {
	padding:20px 20px 0 20px;
	width: 100%;
	height: auto;
}

@-webkit-keyframes slideDown {from { top: -@navbar-height; } to { top: 0; }}
@-moz-keyframes slideDown {from { top: -@navbar-height; } to { top: 0; }}
@-ms-keyframes slideDown {from { top: -@navbar-height; } to { top: 0; }}
@-o-keyframes slideDown {from { top: -@navbar-height; } to { top: 0; }}
@keyframes slideDown {from { top: -@navbar-height; } to { top: 0; }}

@-webkit-keyframes slideUp {from { transform: translateY(110px); } to { transform: translateY(0); }}
@-moz-keyframes slideUp {from { transform: translateY(110px); } to { transform: translateY(0); }}
@-ms-keyframes slideUp {from { transform: translateY(110px); } to { transform: translateY(0); }}
@-o-keyframes slideUp {from { transform: translateY(110px); } to { transform: translateY(0); }}
@keyframes slideUp {from { transform: translateY(110px); } to { transform: translateY(0); }}

@-webkit-keyframes fadeInImage {.opacity(0.0, 1.0);}
@-moz-keyframes fadeInImage {.opacity(0.0, 1.0);}
@-ms-keyframes fadeInImage {.opacity(0.0, 1.0);}
@-o-keyframes fadeInImage {.opacity(0.0, 1.0);}
@keyframes fadeInImage {.opacity(0.0, 1.0);}

@-webkit-keyframes fadeOutForm {.opacity(1.0, 0.2);}
@-moz-keyframes fadeOutForm {.opacity(1.0, 0.2);}
@-ms-keyframes fadeOutForm {.opacity(1.0, 0.2);}
@-o-keyframes fadeOutForm {.opacity(1.0, 0.2);}
@keyframes fadeOutForm {.opacity(1.0, 0.2);}



