<div class="col-md-6 col-md-offset-3 slide-up">
	<div class="contact-container">
		<h3>Contact</h3>
	</div>
	<div class="contact-container">
		<p style="font-size:1.1em;"><a href="mailto:wendydonahoeart@gmail.com">wendydonahoeart@gmail.com</a></p>
	</div>
	<div class="contact-container">
		<img src="https://s3.amazonaws.com/wdonahoeart/contact.jpg">
	</div>
	<div class="contact-container">
		<p style="font-size:0.9em;">Site by <a href="mailto:wdonahoe@udel.edu">Wallace Donahoe</a></p>
	</div>
</div>