
		<div class="col-md-5 col-xs-12 full-width">
			<spinner></spinner>
			<form novalidate name="ctrl.myForm" role="form" fade-out>
			<h1>Edit</h1>

			<!-- Title -->
			<div class="form-group">
				<div class="row">
					<div class="col-xs-11">
						<label for="title" class="control-label" control-label>Title</label>
						<input type="text" class="form-control" name="title" ng-model="ctrl.drawing.title" autosave="false" placeholder="Title"/>
					</div>
				</div>
			</div>
			<!-- Medium -->
			<div class="form-group">
				<div class="row">
					<div class="col-xs-11">
						<label for="medium" class="control-label" control-label>Medium</label>
						<input type="text" class="form-control" name="medium" ng-model="ctrl.drawing.medium" placeholder="Medium"/>
					</div>
				</div>
			</div>

			<!-- Dimensions -->
			<div class="form-group">
				<div class="row">
					<div class="col-xs-5">
						<label for="height" class="control-label" control-label>Height</label>
						<input type="text" class="form-control" name="height" ng-model="ctrl.drawing.height" placeholder="Height (in)"/>	
					</div>
					<div class="col-xs-5">
						<label for="width" class="control-label" control-label>Width</label>
						<input type="text" class="form-control" name="width" ng-model="ctrl.drawing.width" placeholder="Width (in)"/>
					</div>
				</div>
			</div>

			<!-- Gallery -->
			<div class="form-group">
				<label class="control-label" control-label>Gallery</label>
				<div>
					<label class="radio-inline">
						<input type="radio" name="type" value=true ng-checked="{{ctrl.drawing.isBw}}"/> Gray
						</label>
					<label class="radio-inline">
						<input type="radio" name="type" value=false ng-checked="{{!ctrl.drawing.isBw}}"/> Color
					</label>
				</div>
			</div>
			<hr align="left" class="form-divide">

			<!-- Upload -->
			<div class="form-group">
				<label for="gallery-upload" class="control-label" control-label>Select File</label><br />
				<div id="gallery-upload">
					<div file-input="file" on-change="ctrl.getFile()"></div>
				</div>
			</div>

			<button class="btn btn-default" ng-click="ctrl.upload()" ng-disabled="ctrl.allFilled()">Submit</button>

			</form>
		</div>
		<div class="col-md-7 preview-flex-container" fade-out>
			<img ng-src="{{ctrl.imgSrc}}" class="upload-preview">
			<div class="img-info" ng-cloak>
				<b>{{ctrl.drawing.title}}</b>  &nbsp&nbsp {{ctrl.drawing.height}}" x {{ctrl.drawing.width}}" &nbsp&nbsp{{ctrl.drawing.medium}}
			</div>
		</div>