
	<!-- <div class="well well-sm"> -->

		<div class="col-md-6 col-xs-4">
			<form novalidate role="form" class="form-horizontal" ng-controller="UploadCtrl as upload">
			<h1>Upload</h1>
			<!-- Title -->
			<div class="form-group row">
				<label for="title" class="col-md-2 control-label">Title</label>
				<div class="col-md-8">
					<input class="form-control" ng-model="upload.data.title" id="title" placeholder="Title"/>
				</div>
			</div>

			<!-- Medium -->
			<div class="form-group row">
				<label for="medium" class="col-md-2 control-label">Medium</label>
				<div class="col-md-8">
					<input class="form-control" ng-model="upload.data.medium" id="medium" placeholder="Medium" /> 
				</div>
			</div>
			<hr align="left" class="form-divide">

			<!-- Dimensions -->
			<div class="form-group row">
				<label for="dimensions" class="col-md-3 control-label">Dimensions</label>
				<div class="col-md-5">
					<input class="form-control" ng-model="upload.data.dimensions" id="dimensions" placeholder="width x height (in)" />
				</div>
			</div>

			<!-- Gallery -->
			<div class="form-group row">
				<label class="col-md-3 control-label" id="gallery-label">Gallery</label>
					<div id="radio-buttons">
						<label class="radio-inline">
							<input type="radio" name="type" value="bw" ng-model="upload.data.isBw" /> Gray
							</label>
						<label class="radio-inline">
							<input type="radio" name="type" value="color" ng-model="upload.data.isBw" /> Color
						</label>
					</div>
			</div>
			<hr align="left" class="form-divide">

			<!-- Upload -->
			<div class="form-group row" id="upload-form">
				<div class="col-md-4">
					<input type="file" nv-file-select uploader="uploader" /><br/>

					<button>Upload</button>
				</div>
			</div>

			</form

		</div>

		<div class="col-sm-6">


		</div>
	<!-- </div> -->